<ion-header>
    <ion-toolbar class="background-color" color="app">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="consults" text=""></ion-back-button>
            <strong class="ion-margin-horizontal">{{'CONSULTS.textHeader' | translate}}</strong>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="m-b-80" [formGroup]="form" (ngSubmit)="submit()">
        <div class="ion-margin-vertical ion-padding">

            <div class="text-center">
                <app-imagem [imagem]="mountImage(image.value)"> </app-imagem>
                <app-upload-image [module]="'Consults'" (imagem)="receiveImage($event)"></app-upload-image>
            </div>

            <div class="m-t-20"
                [ngClass]="{'error-message' : locale.hasError('required') && (locale.dirty || locale.touched)}">
                <ion-label color="app">
                    <h3>
                        <ion-icon name="location-outline"></ion-icon>
                        {{'CONSULTS.form.locale' | translate}}
                    </h3>
                </ion-label>
                <ion-item class="btn-box" lines="none"
                    [ngClass]="{'error-message' : locale.hasError('required') && (locale.dirty || locale.touched)}">
                    <ion-input placeholder="{{'CONSULTS.form.locale' | translate}}" autocapitalize type="text"
                        inputmode="text" formControlName="locale"></ion-input>
                </ion-item>
                <ion-label *ngIf="locale.hasError('required') && (locale.dirty || locale.touched)">
                    <small class="error-message">{{'CONSULTS.form.locale' | translate}}{{'CONSULTS.validators.required'
                        |
                        translate}}</small>
                </ion-label>
            </div>

            <div class="m-t-20">
                <ion-label color="app">
                    <h3>
                        <ion-icon name="calendar-outline"></ion-icon>
                        {{'CONSULTS.form.date' | translate}}
                    </h3>
                </ion-label>
                <ion-item class="btn-box" lines="none">
                    <ion-input placeholder="{{'CONSULTS.form.date' | translate}}" autocapitalize type="date"
                        inputmode="date" formControlName="date"></ion-input>
                </ion-item>
            </div>

            <div class="m-t-20">
                <ion-label color="app">
                    <h3>
                        <ion-icon name="alarm-outline"></ion-icon>
                        {{'CONSULTS.form.hour' | translate}}
                    </h3>
                </ion-label>
                <ion-item class="btn-box" lines="none">
                    <ion-input placeholder="{{'CONSULTS.form.hour' | translate}}" autocapitalize type="time"
                        inputmode="time" formControlName="hour"></ion-input>
                </ion-item>
            </div>

            <div class="m-t-20 content" (click)="addProfessional()"
                [ngClass]="{'error-message' : doctor.hasError('required') && (doctor.dirty || doctor.touched)}">
                <ion-label color="app">
                    <h3>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        {{'CONSULTS.form.doctor' | translate}}
                    </h3>
                </ion-label>
                <ion-item class="btn-box" lines="none"
                    [ngClass]="{'error-message' : doctor.hasError('required') && (doctor.dirty || doctor.touched)}">
                    <ion-input readonly placeholder="{{'CONSULTS.form.doctor' | translate}}" autocapitalize type="text"
                        inputmode="text" formControlName="doctor"></ion-input>
                </ion-item>
                <ion-label *ngIf="doctor.hasError('required') && (doctor.dirty || doctor.touched)">
                    <small class="error-message">{{'CONSULTS.form.doctor' | translate}}{{'CONSULTS.validators.required'
                        |
                        translate}}</small>
                </ion-label>
                <div class="overlay"></div>
            </div>


            <div class="m-t-20">
                <ion-label color="app">
                    <h3>
                        <ion-icon name="document-text-outline"></ion-icon>
                        {{'CONSULTS.form.note' | translate}}
                    </h3>
                </ion-label>
                <ion-item class="btn-box" lines="none">
                    <ion-textarea rows="6" cols="20" placeholder="{{'CONSULTS.form.note' | translate}}" autocapitalize
                        type="text" inputmode="text" formControlName="note"></ion-textarea>
                </ion-item>
            </div>



            <div class="m-t-20 text-center">
                <ion-button color="app" (click)="submit()" class="w-80 h-4em">
                    {{'CONSULTS.form.btnCreate' | translate}}
                </ion-button>
            </div>

        </div>





    </form>
</ion-content>
<ion-footer>
    <app-fab></app-fab>
</ion-footer>