.ofertas-ion-img {
  height: 120px !important;
}

.gallery-ion-slides {
  margin-top: 30%;
  background: #e6e6e6;

  img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.gallery-ion-img {
  width: 30%;
  display: inline-block;
  border: 1px solid var(--ion-color-secondary);
  margin: 3px;
}

ion-img {
    width: 30%;
    align-items: center;
    margin: auto;
}

.img-loaded + ion-spinner {
  display:none;
}
