<ion-header>
    <ion-toolbar class="background-color" color="app">
        <ion-buttons slot="start">
            <ion-button (click)="goHome()">
                <ion-icon size="large" name="chevron-back-outline"></ion-icon>
            </ion-button>
            <strong>{{'DISEASES.textHeader' | translate}}</strong>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-search-data *ngIf="dataFilter"  [type]="'diseases'"></app-search-data>
</ion-content>

<ion-footer>
    <app-fab></app-fab>
</ion-footer>